.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 200%;
    width: 100%;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.login > button {
    width: 500px;
    background-color: white;
    color: black;
    font-weight: 770;
    margin-bottom: 189px;
    margin-top: 40px;
}

.login > button:hover {
    background-color: black;
    color: white;
}

.login > div > img {
    border-radius: 100%;
    object-fit: contain;
    height: 300px;
    margin-top: 60px;
    box-shadow: 16px 16px 20px black;

}

.login > div > img:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.login > p {
    color: white;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
